body {
	background: url(../img/capa.png),
				url(../img/ruido.png),
				linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
}

.fotos {
    display: flex;
    flex-direction: row;


}

.fotos div img {
    margin: 7px;
    width: 300px;
    height: auto;
}