@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
:root{
    --normal-font: 400;
    --normal-font: 600;
    --primary-color: #111a28;
    --second-color: #252e3d;
    font-family: "PT Sans Narrow", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #333;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

nav{
    background-color: #626b7d;     
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px;
}

h1 {
    margin-right: 1rem;
}

#logo {
    height: 6rem;
}


ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

ul li {
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--second-color);
    text-shadow: 1px 1px white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin: 10%;
}
/* 
img- {
    margin-top: 10px;
    height: 20rem;   
} */

/* carrossel */
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto; 
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input{
    display: none; 
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #626b7d;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #626b7d;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #626b7d;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;  
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;  
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;  
}