@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
:root{
    --normal-font: 400;
    --normal-font: 600;
    --primary-color: #111a28;
    --second-color: #252e3d;
    font-family: "PT Sans Narrow", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #333;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

nav{
    background-color: #626b7d;     
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px;
}

h1 {
    margin-right: 1rem;
}

#logo {
    height: 6rem;
}


ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

ul li {
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--second-color);
    text-shadow: 1px 1px white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin: 10%;
}

img {
    margin-top: 10px;
    height: 20rem;   
}