#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

body{
  background-image: url(./assets/fundo.jpg)
}

.logo{
  width: 150px;
}

.meio{
  align-items: center;
}

.login {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  font-weight: bold;
  font-size:medium;
}

.texto{
  color: white;
}

li, .leve{
  font-weight: lighter;
}

.center{
  text-align: center;
}

a{
  color: white
}

.corTrasnp{
  color: red;
}

button{
  color: white;
  font-weight: bold;
  font-size:medium;
}

.corRed{
  background-color: red;
}

.corCinza{
  background-color: gray;
}

form{
  padding: 2rem 4rem;
}

.itensFooter{
  padding: 100px;
  display: flex;
  flex-direction:row;
  align-items: end;
}

.itensFooter li{
  margin: 20px 0px;
}

select

select{
  padding-right: 150px;
}